$large: 1440px;
$medium: 1200px;
$small: 500px;

.about {
  padding: 136px 136px 136px 46vw;

  &__img {
    position: fixed;
    top: 0vh;
    left: -5vw;
    width: 45vw;
    height: 100vh;
    background-color: var(--black);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }
  }

  &__name {
    text-align: left !important;
    font-size: 56px;
  }

  &__text {
    padding: 32px 0;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.6px;
    display: flex;
    flex-direction: column;

    > * + * {
      margin-top: 12px;
    }
  }
}

@media screen and (max-width: $large) {
  .about {
    padding: 130px 120px 48px 45vw;

    &__name {
      font-size: 48px;
    }

    &__text {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: $medium) {
  .about {
    padding: 112px 32px;

    &__img {
      position: static;
      width: 100%;
      height: 60vh;
      border-radius: 28px;
      margin-bottom: 24px;

      img {
        border-radius: 28px;
      }
    }
  }
}

@media screen and (max-width: $small) {
  .about {
    &__img {
      height: 50vh;
    }

    &__name {
      font-size: 32px;
    }
  }
}
