$large: 1440px;
$medium: 1200px;
$small: 500px;

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 136px;
  background-color: var(--bg-white-1-12);
  border-bottom: 1px solid var(--black-2);
  backdrop-filter: blur(3px);
  z-index: 1;

  &__left-section {
    a {
      display: block;
      height: 49px;
    }
  }

  &__right-section {
    display: flex;
    font-size: 16px;

    > * + * {
      margin-left: 36px;
    }

    a {
      position: relative;
      padding: 0 3px;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 1px;
        width: 0;
        background-color: var(--black);
        transition: 0.5s;
      }

      &:hover::after,
      &.active::after {
        width: 100%;
      }
    }
  }

  &__home_active {
    svg {
      background-color: var(--yellow-2);
      border-radius: 8px;
    }
  }
}

@media screen and (max-width: $large) {
  .navbar {
    padding: 16px 120px;
  }
}

@media screen and (max-width: $medium) {
  .navbar {
    padding: 16px 24px;

    &__right-section {
      align-items: center;

      > * + * {
        margin-left: 24px;
      }
    }
  }
}

@media screen and (max-width: $small) {
  .navbar {
    padding: 16px 24px;

    &__right-section {
      width: 100%;
      justify-content: space-between;

      > * + * {
        margin-left: 16px;
      }

      a {
        &::after {
          display: none;
        }

        &.active {
          border-bottom: 1px solid var(--black);
        }
      }
    }
  }
}
